name: Build and publish

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build.yml'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ linux, darwin, windows ]
        arch: [ amd64, arm64 ]
        include:
          - os: linux
            ext: ""
          - os: darwin
            ext: ""
          - os: windows
            ext: .exe

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build
        run: |
          mkdir dist
          export CGO_ENABLED=0
          export GOOS=${{ matrix.os }}
          export GOARCH=${{ matrix.arch }}
          go build -ldflags="-s -w" -trimpath -o dist/gohook-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }} ./cmd/gohook

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        with:
          name: gohook-${{ matrix.os }}-${{ matrix.arch }}
          path: dist/*

  docker:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - name: Download amd64 binary
        uses: actions/download-artifact@v6
        with:
          name: gohook-linux-amd64

      - name: Download arm64 binary
        uses: actions/download-artifact@v6
        with:
          name: gohook-linux-arm64

      - name: Fix permissions
        run: chmod +x ./gohook-linux-amd64 ./gohook-linux-arm64

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest

      - name: Create Dockerfile
        run: |
          cat <<'EOF' > ./Dockerfile
          # syntax=docker/dockerfile:1.17.0
          FROM alpine AS certs
          RUN apk add --no-cache curl
          RUN curl -sSL https://i.pki.goog/r4.pem -o /tmp/rootCA.pem
          FROM scratch
          ARG TARGETARCH
          COPY ./gohook-linux-${TARGETARCH} /gohook
          COPY --from=certs /tmp/rootCA.pem /etc/ssl/certs/ca-certificates.crt
          COPY <<EOF2 /etc/passwd
          nobody:x:65534:65534:nobody:/:
          EOF2
          USER nobody
          CMD ["/gohook"]
          EOF

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: ${{ github.repository }}

  release:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Bump tag
        id: bump_tag
        run: |
          git fetch --tags
          latest_tag=$(git tag --sort=-version:refname | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
          IFS='.' read -r major minor patch <<<"${latest_tag#v}"
          new_tag="v$major.$minor.$((patch + 1))"
          echo "New tag: $new_tag"
          echo "new_tag=$new_tag" >> $GITHUB_OUTPUT

      - name: Download all binaries
        uses: actions/download-artifact@v6
        with:
          path: dist

      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          files: dist/**
          name: ${{ steps.bump_tag.outputs.new_tag }}
          tag_name: ${{ steps.bump_tag.outputs.new_tag }}
