name: Package and publish chart

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/helm.yml'
      - 'helm/**'

jobs:
  publish-helm:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      pages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package chart
        run: helm package helm -d dist

      - name: Push chart
        working-directory: dist
        run: helm push gohook-*.tgz oci://ghcr.io/${{ github.repository_owner }}

      - name: Create repository index
        working-directory: dist
        run: helm repo index . --url https://${{ github.repository_owner }}.github.io/gohook/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
